---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import xinruiImage from '../images/20250613091108.jpg';

const BASE_URL = import.meta.env.BASE_URL;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, jack!</h1>
					
			<ul>
			  <li><a href="../blog/markdown-style-guide/">markdown-style-guide</a></li>
			  
			  <li><a href="../blog/first-post/">first</a></li>
			  <li><a href="../blog/second-post/">second</a></li>
			  <li><a href="../blog/using-mdx/">mdx</a></li>
			  
			  
			</ul>
			<br/>
			<img src="/images/20250617144940.jpg" alt="lxr">
            
			<video width="320" height="240" controls>
			  <source src="/video/lunhua.mp4" type="video/mp4">
			</video>
		
		</main>
		<Footer />
	</body>
</html>
