---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="毕业照"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Jun 06 2025')}
	heroImage={AboutHeroImage}
>

	<br/>
	<p>

			<img src="/images/2025-07-03_100359_183.jpg" alt="lxr1"><br/>
			<img src="/images/2025-07-03_100441_633.jpg" alt="lxr2"><br/>
			<img src="/images/wechat_2025-07-03_100457_818.jpg" alt="lxr3"><br/>
			<img src="/images/wechat_2025-07-03_100509_368.jpg" alt="lxr4"><br/>
			<img src="/images/wechat_2025-07-03_100522_341.jpg" alt="lxr5"><br/>
	</p>
	<p>

		
	</p>

	
</Layout>
