---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 06 2025')}
	heroImage={AboutHeroImage}
>

	<br/>
	<p>

			<img src="/images/20250613091108.jpg" alt="lxr1"><br/>
	</p>
	<p>

		
	</p>

	
</Layout>
