---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 06 2025')}
	heroImage={AboutHeroImage}
>

<p>

保持心情舒畅的方法：遇到让你不爽的事，不分析 不琢磨 不改变 不参与，总之不要与它产生链接，链接就是纠缠和消耗。

精力充足的秘诀：
一天里大部分的事情不动用意志力去做，尽量无意识就干了。
小事不入决策, 无意识就干完。
其他的见了便做, 不要抗拒, 做了便放下。
要有说洗澡就洗澡的勇气, 不要太纠结, 你需要做的, 不过是坚定而沉默地，拧开那个阀门

人在无所事事的时候，脑子就会乱想，无事生非，饭饱思淫欲，做坏事，做更堕落的事。
为了避免自己时间，被错误的、没价值又没意义的事情填充，就必须用正事、有意义的事情，去填充时间，
要么增进知识和智慧，要么增进能力，要么赚钱，要么拜师交友、要么帮助更多的人、要么旅行，要么巩固人脉圈。
让自己忙起来，时间充实起来，人就是在不断的干事情中，更有活力

不要害怕做错什么，即使错了，也不必懊恼，人生就是对对错错，何况有许多事，回头看来，对错已经无所谓了

少在烂事上纠缠，少为不值得的人生气，放下那些烂人烂事，让自己活的高贵一点

“真正的强大不是对抗，而是允许发生。允许遗憾，愚蠢，丑恶，虚伪，允许付出没有回报。当你允许这一切之后，你会逐渐变成一个柔软放松舒展的人。”

精神如果绷得太紧，就容易急躁。尝试给自己一份松弛的柔软，对暂时不顺心的人和事抱以理解与包容。你会发现，你与他人之间多了几分亲和，与世界多了几分契合，生活也会变得更加美好
</p>


	<br/>
	<p>

			<img src="/images/20250613091108.jpg" alt="lxr1"><br/>
	</p>
	<p>

		
	</p>

	
</Layout>
